<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Find the price, to ship your shipping.</h1>
    <form action="/home_page" method="post">
      <div class='form-group'>
        <label for='dimension'>Enter the height of the package./Type</label>
        <input id='dimension' name='dimension' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='height'>Enter the history of the car.</label>
        <input id='height' name='height' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='length'>Enter the history of the car.</label>
        <input id='length' name='length' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='weight'>Enter the history of the car.</label>
        <input id='weight' name='weight' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
